.memory-game td {
  border: 1px solid #CCCCCC;
}

.memory-game .card {
  cursor: pointer;
  position: relative;
  line-height: 0;
}

.memory-game .back, .memory-game .front  {
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.memory-game .back {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.memory-game .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.memory-game .flipped .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.memory-game .flipped .back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
