.memory-game td {
  border: 1px solid #CCCCCC;
}

.memory-game .card {
  cursor: pointer;
  position: relative;
  line-height: 0;
}

.memory-game .back, .memory-game .front  {
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.memory-game .back {
  left: 0;
  position: absolute;
  top: 0;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.memory-game .front {
  -moz-transform: protateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.memory-game .flipped .front {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.memory-game .flipped .back {
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
